#baner {
	background: rgb(105,88,89);
	color: white;
	font-size: 150%;
	text-align: center;
	height: 80px;
}

#lewy {
	background: rgb(145,127,112);
	width: 30%;
	height:600px;
	float: left;
}

#srodkowy {
	background: rgb(184,168,169);
	width: 50%;
	height:600px;
	float: left;
}

#prawy {
	background: rgb(145,127,112);
	width: 20%;
	height:600px;
	float: left;
}
h1,h2 {
	text-transform: uppercase;
}
h2 {
		color: white;
}

img {
	float: right;
}
table {
	border-collapse: collapse;
}
td {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}